{% extends "base.html" %}

{% block title %}<title>{{page.title}}</title>{% endblock title %}

{% block head %}

<meta name="description" content={{page.description}} />
<meta name="subject" content="Technology">

<script type="importmap">
{
    "imports": {
        "bf": "/content/nevise/1405-bf/components/bf.module.js",
        "component-runner": "/content/nevise/1405-bf/components/component-runner.js",
        "component-tester": "/content/nevise/1405-bf/components/component-tester.js",

        "preact": "/vendor/preact/preact.module.js",
        "preact/hooks": "/vendor/preact/hooks.module.js",
        "@preact/signals": "/vendor/preact/signals.mjs",
        "@preact/signals-core": "/vendor/preact/signals-core.mjs",
        "preact/compat": "/vendor/preact/compat.module.js",
        "react": "/vendor/preact/compat.module.js",
        "react-dom": "/vendor/preact/compat.module.js",
        "htm": "/vendor/preact/htm.module.js",
        "htm/preact": "/vendor/preact/htm-preact.module.js"
    }
}
</script>

<link rel='stylesheet' href='/content/nevise/1405-bf/stylesheets/bf-wasm.css'>
<link rel='stylesheet' href='/content/nevise/1405-bf/stylesheets/bf-tester.css'>
<link rel='stylesheet' href='/content/nevise/1405-bf/stylesheets/bf.css'>

{% endblock head %}

{% block content %}

<div id="app"></div>

<h2>{{ page.title }}</h2>
<p>{{ page.description }}</p>
<p>{{ page.date }}</p>
<br>

<h1>دسترسی سریع</h1>
{% if page.toc %}
<ul id="toc">
    {% for h1 in page.toc %}
    <li id="h1">
        <a href="{{ h1.permalink | safe }}">{{ h1.title }}</a>
        {% if h1.children %}
        <ul id="ulh2">
            {% for h2 in h1.children %}
            <li id="h2">
                <a href="{{ h2.permalink | safe }}">{{ h2.title }}</a>
            </li>
            {% endfor %}
        </ul>
        {% endif %}
    </li>
    {% endfor %}
</ul>
{% endif %}

{{ page.content | safe }}

<script type="module">
    import { App } from "bf";

    import { render } from "preact";
    import { html } from "htm/preact";

    render(html`<${App} />`, document.getElementById("app"));
</script>

<script type="module">
    import { h, render } from 'preact';
    import { BFRunner } from 'component-runner';
    import { BFTester } from 'component-tester';

    // render(h(BFRunner), document.getElementById('runner-root'));
    render(h(BFTester), document.getElementById('tester-root'));
</script>

<script type="module" src="/content/nevise/1405-bf/components/bf-visualizer.js"></script>
<script type="module" src="/content/nevise/1405-bf/components/bf-wasm.js"></script>
<script type="module" src="/content/nevise/1405-bf/libs/copy.js"></script>

{% endblock content %}